<td>
   <div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
      <a ng-href="#/shop/product/{{product.id}}">
         <img class="img-responsive product-image" ng-src="{{product.images[product.principalImage]}}">
      </a>
   </div>
   <div class="col-sm-3 col-xs-6 col-xlg-4">
      <span class="product-name">{{product.name}}</span>
      <br>
      <span class="product-price">{{product.price | currency:"MXN$"}}</span>
      <br>por paquete
   </div>
   <div class="col-sm-3 col-xs-6">
      <select ng-model="item.quantity" ng-options="option for option in [1,2,3,4,5,6,7,8,9]" class="form-control form-inline quantity-selector"></select>
      <button type="button" class="btn btn-danger remove-product" ng-click="itemRowCtrl.remove()">
         <i class="fa fa-times" aria-hidden="true"></i>
      </button>
   </div>
   <div class="col-sm-4 hidden-xs">
      <span class="product-price">{{product.price*item.quantity | currency: "MXN$"}}</span>
   </div>
</td>
