<!-- <link rel="stylesheet" href="styles/cart/cart.css"> -->
<div class="row">
   <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="address in uf.user.addresses">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <button ng-click="addressChooserCtrl.choose($index)" class="btn btn-warning">
               Mandar Aquí
            </button>
            <div class="clearfix"></div>
         </div>
         <div class="panel-body">
            <address-body address="address"></address-body>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <address-widget new-address-model="newAddress"></address-widget>
      <div class="pull-right">
         <button class="btn btn-warning" ng-click="addressChooserCtrl.addNewAddressAndChoose()">Agregar Nueva Dirección y Mandar Aquí</button>
      </div>
   </div>
</div>
